@use './partials/variables' as *;

// $fa-font-path:'../webfonts';
// @import '@fonntawesome/fontawesome-free/scss/solid.scss';
// @import '@fonntawesome/fontawesome-free/scss/regular.scss';
// @import '@fonntawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

*{
    margin:0;
    padding :0;
    box-sizing: border-box;

}

body{
  color: $whiteText;
}