@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

*{
    margin:0;
    padding :0;
    box-sizing: border-box;

}

body{
  color: $whiteText;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(115,115,115,1) 50%, rgba(0,0,0,1) 80%);
}

// main{
//   background: rgb(0,0,0);
//   background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(115,115,115,1) 50%, rgba(0,0,0,1) 80%);
// }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $redTitle; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $redTitle; 
}